<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcc.soo.dao.CommCodeGroupDao">

  <!-- 컬럼 이름과 자바 객체의 프로퍼티 이름을 연결한다. -->
  <resultMap type="CommCodeGroup" id="CommCodeGroupMap">
    <id column="groupcode_id" property="groupcodeId"/>
    <result column="groupcode_name" property="groupcodeName"/>
    <result column="gc_edit_yn" property="editableYn"/>
    <result column="gc_remark" property="remark"/>
    <result column="reg_id" property="regId"/>
    <result column="reg_dt" property="regDt"/>
    <result column="reg_ip" property="regIp"/>
    <result column="mod_id" property="modId"/>
    <result column="mod_dt" property="modDt"/>
    <result column="mod_ip" property="modIp"/>
  </resultMap>

  <sql id="sql1">
    select 
      groupcode_id,
      groupcode_name,
      gc_edit_yn,
      gc_remark
    from comm_code_group
  </sql>

  <select id="findAll" resultMap="CommCodeGroupMap">
    <include refid="sql1"/>
	    order by groupcode_id desc
  </select>
  
  <select id="findBy" parameterType="String" resultMap="CommCodeGroupMap">
    <include refid="sql1"/>
    where groupcode_id=#{groupcodeId}
  </select>
  
  <insert id="insert" parameterType="CommCodeGroup">
    insert into comm_code_group
    (
    groupcode_id,
    groupcode_name,
    reg_id,
    reg_dt,
    reg_ip,
    mod_id,
    mod_dt,
    mod_ip
    )
    value
    (
    #{groupcodeId},
    #{groupcodeName},
    #{regId},
    now(),
    #{regIp},
    #{modId},
    now(),
    #{modIp}
    ) 
  </insert>
  
  <update id="update" parameterType="CommCodeGroup">
    update comm_code_group set
      groupcode_name=#{groupcodeName}
    where groupcode_id=#{groupcodeId}
  </update>
  
  <delete id="delete" parameterType="String">
    delete from comm_code_group 
    where groupcode_id=#{groupcodeId}
  </delete>
  
</mapper>